body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
}

.sidebar {
    transition: all 0.3s;
}

.sidebar.collapsed {
    margin-left: -250px;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #17a2b8;
}

.nav-link.active {
    background-color: #17a2b8;
}

#content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

